.contact-pag{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../assets//contact-image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100vh;
    font-family: 'Roboto';
}